.card-container{
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 12rem;
     
}

.card-title, 
.card-description
{
    margin: 0.5rem 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    color: black;
}
