.card-container{
    width: 20rem;
    justify-content: center;
    border: 1  px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    color: black;
    text-align: center;
}

.card-title, 
.card-description
{
    margin: 0.5rem 1rem;
}

