.card-container{
    width: 20rem;
    justify-content: center;
    border: 1  px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    color: black;
    text-align: center;
}

.card-title, 
.card-description
{
    margin: 0.5rem 1rem;
}

.card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

button {
    width: 100%;
    vertical-align: bottom;
    margin-top: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #333;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}