 .login-signup-button {
    background-color: #333;
    border-radius: 8px;
    width: auto;
    height: auto;
}

.login-page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    gap: 9px;
}

.header h1{
    color: white;
}

.input{
    display: flex;
    background-color: #d1d1d1;
    flex-direction: column;
    align-self: center;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    padding: 0 10px;
}

.input input {
    border: none;
    outline: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    background-color: #d1d1d1;
    color: black;
}

::placeholder {
    color: black;
}

.body{  
    width: 500px;
    height: 500px;
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: #2774AE;
}

.underline {
    top: 0;
    width: 61px;
    height: 6px;
    background-color: white;
    align-self: center;
    
}

