 .body{  
    width: 500px;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    background-color: #2774AE; 
=======
    background-color: #2774AE;
    border: 2px solid #353333;
    border-radius: 10px;
>>>>>>> e761bf75260667572dd64df07c83610d9e7c80f5
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: #333;
    border-radius: 1rem;
}

.toggle-action{
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
}

 .login-signup-button {
    background-color: #333;
    border-radius: 8px;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.login-page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}


.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    gap: 9px;
}

.header h1{
    color: white;
}

.input{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-self: center;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #353333;
    padding: 0 10px;
    color: black;
}

.input input {
    border: none;
    outline: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    background-color: #d1d1d1;
    color: black;
}

::placeholder {
    color: black;
}

.underline {
    top: 0;
    width: 61px;
    height: 6px;
    background-color: white;
    align-self: center;
    
}

