.navbar {
  position: fixed;        /* Stay visible while scrolling */
  top: 0;                 /* Pin to the top */
  left: 0;                /* Align to the left edge */
  width: 100%; 
  height: 7.5%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0.5rem 1.5rem;
  gap: 2rem;
  box-shadow: 0 2xpx 5px rgba(0,0,0,0.3);
}
;
.siteTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-linksR {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  right: 0;

}


.nav-linksC {
  list-style: none;
  display: flex;  
  gap: 2rem;
  margin: 0;
  margin-left: 5%;
  /*margin-right: 5%;*/
  justify-content: center;
}

.nav-linksR a, .nav-linksC a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.nav-linksR a:hover, .nav-linksC a:hover {
  color: #535bf2;
}

.siteTitle a{
    color: white;
    transition: color 0.3s ease;
}
.siteTitle a:hover {
  color: #535bf2;
}

.profileButton {
  background-color: transparent;
  color: white;
  border: 1rem;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: inherit;
  position: relative;
}   

.navButtonLogin {
    cursor: pointer;
}

.submenu {
  position: absolute;
  top: calc(100%);
  right: 0;
  margin-right: 75px;
  background-color: #222;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  min-width: 60px;
  overflow: hidden;
  z-index: 1001;
  animation: slideDown 0.2s ease-out;
  border: 1px solid #111;
}


.submenu-item {
  display: block;
  padding: 0.75rem 1.25rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.submenu-item:not(:last-child) {     
  border-bottom: 1px solid #3a3a3a;
}
