html, body, #root {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.content {  
  padding-top: 80px;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
      flex-grow: 1; 
    }