.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
}

.card-grid {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, 20rem);
  
  gap: 1rem;
  justify-content: center;
}   
